<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- Annotation config enable -->
	<context:annotation-config />

	<bean id="coreJava" class="com.spring.di.Course">
		<property name="cid" value="C-7878" />
		<property name="cname" value="Core Java" />
		<property name="ccost" value="10000" />
	</bean>
	<bean id="advJava" class="com.spring.di.Course">
		<property name="cid" value="C-7878" />
		<property name="cname" value="Advanced Java" />
		<property name="ccost" value="10000" />
	</bean>

	<bean id="student" class="com.spring.di.Student">
		<!-- <property name="sid" value="S-7878" />
		<property name="sname" value="Ram Charan" /> -->
		<constructor-arg name="sid" value="S-111"/>
		<constructor-arg name="sname" value="Ram charan"/>
	</bean>

</beans>


