<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="account" class="com.spring.di.Account">
		<property name="accNo" value="A-123" />
		<property name="accName" value="RC" />
		<property name="accType" value="Savings" />
		<property name="balance" value="35000" />

	</bean>
	<bean id="emp" class="com.spring.di.Employee">
		<property name="eid" value="E-1010" />
		<property name="ename" value="RC" />
		<property name="esal" value="50000" />
		<property name="eaddr" value="BLR" />
		<property name="account" ref="account" />
	</bean>

</beans>


